/* General code.*/
img {
    display: block;
  }

@font-face {
    font-family: 'neon'; /* Replace with the desired font name */
    src: url('../fonts/neon.ttf') format('truetype'); 
  }
html {
    scroll-behavior: smooth;
}
.image-right {
    float: right;
    margin-left: 10px;
}
.image-center {
margin-left: auto;
margin-right: auto;
padding-top: 20px;
}
.italics {
    font-style: italic;
}
  /* Code for the main page.*/
  .navbar {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: none;
      position: fixed;
      transform: translateY(-100%);
      transition: transform 0.2s;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 99;
      background: white;
      list-style: none;
      padding-top: 4rem;
  }
  .navbar li {
    display:inline;
  }
  .navbar a {
    display: inline;
    margin-left: 60px;
    margin-right: 60px;
    color: gray;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
  }
  .navbar a:hover {
    background-color: gainsboro;
    color: white;
  }
  .description {
    font-family: "Courier New", Courier, monospace;
    font-size: medium;
    color: white;
    text-align: center;
  }
  .bio {
    text-align: center;
    color: white;
    font-family: "Courier New", Courier, monospace;
  }
  .headers {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    color: white;
    padding: 14px 20px;
  }
  .showMenu {
    transform: translateY(0);
  }
  .navigation {
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: auto;
    text-decoration: none;
    text-align: right;
    padding: 0;
    margin: 0;
    position: fixed;
    background: #D4ADCF;
  }
  .navigation a {
    color:#1B175D;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: right;
    text-decoration: none;
    padding: 25px; /* Adjust this value to add spacing between links */
    padding-bottom: auto;
  }
  .navigation a:hover {
    background-color:goldenrod;
    color: white;
  }
  .navigation li {
    margin-bottom: 20%; 
    display:inline;
  }
  .maname {
    color: #1B175D;
    float: left;
    padding: 10px;
    padding-left: 5%;
    font-style: normal;
    font-family: neon;
    font-stretch: wider;
    font-variant: small-caps;
    text-align: center;
    text-decoration: overline;
    letter-spacing: 2px;
    font-size: x-large;
  }
  body {
    background-image: url('QHG.gif'); /* Replace with the actual path */
    background-size: cover; /* Scale the GIF to cover the entire screen */
    background-position: center center; /* Center the GIF */
    background-repeat: no-repeat; /* Prevent the GIF from repeating */ 
  }
  .center-logo {
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  .ab {
    font-family: neon;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#D4ADCF;
  }
  .descr {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    padding-bottom: 30px;
    line-height: 30px;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
  }
  .describe {
    background-image: url('5ABJ.gif');
    
  }
  .ah {
    text-align: center;
    padding-bottom: 10%;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
  }
  .ah a {
    color: white; /* Inherit white color from the parent paragraph */
    text-decoration: none; /* Remove underline from link */
    font-weight: bold; /* Add this line for bold text */

  }

  .contain {
    width: 80%; 
    margin: 0 auto; 
    
  }
  
  .row {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 20px; 
  }
  
  .module {
    background-color: white; 
    border-radius: 5px; 
    padding: 20px; 
    text-align: center; 
    flex: 1; /* Equal width for each module */
    margin: 0 10px; /* Spacing between modules */
    height: 300px; /* Set a fixed height for all modules */ 

  }

  .module:hover {
    transform: scale(1.05); /* Slightly enlarge the module on hover */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow on hover */
  }
  
  .module img {
    width: 100%; 
    height: 50%; 
    margin-bottom: 10px; 
    top: 0; 
    left: 0; 
    object-fit: cover; /* Ensure image covers the entire height */
  }
  #footer {
    background-color: #D4ADCF;
    color: white; /* White text color for the footer */
    text-align: center; /* Center the content horizontally */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
  }

  .linksBottom {
    display: flex; /* Arrange social media links horizontally */
    justify-content: center; /* Center the links horizontally */
  }
  
  .smslogos {
    width: 30px; /* Set a fixed width for the social media icons */
    height: 30px; /* Set a fixed height for the social media icons */
    margin: 5px; /* Add some margin between the icons */
  }









  /* The code for author page.*/
  .menu {
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    text-decoration: none;
    text-align: right;
    padding: 0;
    margin: 0;
    position: fixed;
    background: darkslateblue;
  }
  .menu a {
    color:aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: right;
    text-decoration: none;
    padding: 25px; /* Adjust this value to add spacing between links */
    padding-bottom: auto;
  }
  .menu li {
    margin-bottom: 20%; 
    display:inline;
  }
  .menu a:hover {
    background-color:goldenrod;
    color: white;
  }
  .bottom {
    background-color: white;
    align-items: center;
  }
  .linksBottom a {
    display: inline;
    color: darkslateblue;
    padding: 14px 20px;
    text-decoration: none;
    align-items: center;
    margin-left: 12%;
  }
  .name {
    color:aliceblue;
    float: left;
    padding: 10px;
    padding-left: 5%;
    font-style: normal;
    font-family: fantasy;
    font-stretch: wider;
    font-variant: small-caps;
    text-align: center;
    text-decoration: overline;
    letter-spacing: 2px;
    font-size: xx-large;
  }
  .abme {
    text-align: center;
    font-family: fantasy;
    letter-spacing: 1px;
    color:darkslateblue;
    padding-top: 60px;
    text-decoration: overline;
  }
  .descript {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    padding-bottom: 30px;
    line-height: 30px;
  }
  .ahhh {
    text-align: center;
    padding-bottom: 10%;
    font-style: italic;
    text-decoration: none;
  }
  .rounded-img {
    border-radius: 100%;
  }
  #projects {
    display: grid;
    margin-left: 0px;
    margin-right: 0px;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-gap: 10px; /* Adjust the gap between images as needed */
}
  .logoimage {
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    width: 250px;
    height: 250px;
  }
  .chapter {
    font-weight: bold;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
    padding-top: 30px;
  }
  .chap {
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
    padding-top: 30px;
    text-indent: 20px;
    line-height: 30px;
  }
  .custom-line {
    border: none;
    height: 2px;
    background-color: darkslateblue;
    margin: 10px 0;
  }
  #myDiv {
    height: 500px;
    max-width: 800px; /* Adjust this width as needed */
    overflow-y: scroll;
    background: white;
    align-items: center;
    margin-left: 15%;
    padding: 0 20px; /* Adjust horizontal padding as needed */

  }
#body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #container2 { /*this holds the scrollable element for the writing sample */
    width: 80%;
    height: 80%;
    overflow: auto;
    border: none; /* Optional: Add border for visibility */
    align-items: center;
    padding-top: 50px;
  }
  .hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
  }
  .closeIcon {
    display: none;
  }
  #content {
    width: 100%; 
  }
  /* Tryna do a popup for about me*/
  .popup {
    position:relative;
    display: block;
    cursor: pointer;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .imageclick {
    text-align: center;
    font-size:x-small;
    color: darkslateblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .smslogos {
    align-items: center;
    height:50px;
    width:50px;
    margin:10px;
    display: inline-block;
  }
  .popup .popuptext {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 5%;
    left: 50%;
    margin-left: -125px;
  }
  .popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

















  /* Code for the student page*/
  .title {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
  }
  .container {
    display: flex;
    align-items: center;
  }
  .image-container {
    margin-right: 29%; /* Adjust the margin as needed */
    margin-left: 4.5%;
  }
  .nav {
    overflow: hidden;
    background-color:white;
    outline: auto;
  }
  .nav a {
    font-family:'Times New Roman', Times, serif;
    float: left;
    color: black;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
  }
  .nav a:hover {
    background-color: black;
    color: white;
  }
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
  }
  .subsection {
    margin-top: 4%;
    margin-left: 1%;
  }
  .college {
    margin-left: 1%;
    font-weight: bold;
    white-space: nowrap;
  }
  .cont {
    display: flex;
    align-items: center;
    padding-bottom: 0%;
  }
  .cont-contain {
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-bottom: 0%;
  }

  .cont-contain a {
    display: block;
    color: black;
    text-decoration: none;
    margin-left: 1%;
    font-weight: bold;
    white-space: nowrap;
  }
  .img-container {
    margin-left: 1%;
    margin-bottom: 0%;
  }
  .blah {
    margin-left: 5%;
    padding-top: 0%;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-style: italic;
  }
  ul {
    list-style-type: disc; /* Bullet point style (default) */
    padding-left: 100px; /* Indentation for the list */
  }
  li {
    margin-bottom: 5px; /* Space between list items */
  }
  ol {
    margin-top: 0%;
  }




  /*Code for the content creator page*/
  .header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: teal;
    font-stretch: extra-expanded;
    text-shadow: 2px 2px lightseagreen;
    text-align: center;
  }
  .words {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: teal;
    font-stretch: extra-expanded;
    text-align: center;
  }
  .socials {
    overflow: hidden;
    background-color: honeydew;
    display: flex;
  }
  .socials a {
    display: block;
    color: teal;
    text-align: center;
    padding: 30px 0px;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .socials a:hover {
    background-color: teal;
    color: honeydew;
  }
  .center {
    display: flex;
    justify-content: center;
}
.conte {
    display: block;
    color: teal;
    text-align: center;
    text-decoration: none;
    padding: 30px 30px;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 50px;
}
